# App
PORT=3005
APP_URL=https://your-domain.com
WEBHOOK_SECRET=change-me

# Telegram
TELEGRAM_BOT_TOKEN=8936210514:AAF0bnRp8t5F0ojy31eMX08g63F0XbXCFYc
TELEGRAM_BOT_USERNAME=TrustedWayBot

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/trustedway"


# Payments placeholder
PAYMENT_PROVIDER=manual
NODE_ENV=production